@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-default: #005B92;
    --text-button-answer: white;

    --button-answer: #005B92;
    --button-difficulty: #9CEAFD;
    --button-next: #9CEAFD;
    --button-corect: #82F1A9;
    --button-incorrect-fill: white;
    --button-incorrect-stroke: #005B92;

    --background: #4FC7E3;
    --box: white;

    --transition: all 300ms ease-in-out;

    --font-family: 'DM-Sans', sans-serif
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Body */
body {
    font-family: var(--font-family);
    min-height: 100vh;
    color: var(--text-default);
    background-color: var(--background);
}

.wrapper {
    background-color: var(--box);
    padding: 6rem 3.5rem 3rem 3.5rem;
    width: 640px;
    height: 750px;
    border-radius: 40px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

/* Head */
.quiz-head {
    text-align: center;
    margin-bottom: 2rem;
}

.quiz-title {
    font-size: 2rem;
    margin-bottom: 8px;
}

.category {
    font-size: .9rem;
    font-weight: 600;
    color: var(--text-default);
    padding: .4rem 1rem;
    border-radius: 4px;
    background-color: var(--button-next);
}

/* Questions */
.quiz-body {
    text-align: center;
}

.quiz-questions {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.quiz-answers {
    list-style-type: none;
    margin: 1rem 0;
}

.quiz-answers li{
    margin: .8rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .5px;
    border-radius: 8px;
    padding: 1.2rem;
    cursor: pointer;
    background-color: var(--button-answer);
    color: var(--text-button-answer);
    box-shadow: 0 4px 0 0 #0F3952;
    transition:  var(--transition);
}

.quiz-answers li:hover {
    background-color: var(--button-difficulty);
    color: var(--text-default);
    box-shadow: 0 4px 0 0 #64ADBF;
}

.quiz-answers li:active{
    transform: scale(0.97);
}


/* Footer */


.quiz-foot button{
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    border-radius: 8px;
    text-transform: uppercase;

    border: none;
    margin: .8rem 0;
    padding: 1.2rem;
    cursor: pointer;
    
    background-color: var(--button-difficulty);
    color: var(--text-default);
    box-shadow: 0 4px 0 0 #64ADBF;
    transition:  var(--transition);
    width: 100%;

    display: none;
}

.quiz-foot button:hover{
    background-color: var(--button-answer);
    color: var(--text-button-answer);
    box-shadow: 0 4px 0 0 #0F3952;
}

.quiz-foot button:active{
    transform: scale(.9);
}


.bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    height: 50px;
    margin: .5rem;
}


